body{
background-color:rgb(252, 211, 175)

}



nav {
    width:98%;
    height: 75px;
    margin-top: 20px;
    left:15px;
    right:10px;
    z-index: index 1;
}
nav .logo {
   
    font-size: 30px;
    padding-left: 15px;
    background-color: peachpuff;
}
nav .logo p {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    float: left;
    color: navy;
    text-shadow:0px;
    letter-spacing: 5px;
}
nav .logo ul {
    display: inline-block;
    position:relative;
}

 ul li{
    list-style-type: none;
    float: right;
    margin-top: 10px;

}
ul li a {
    
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 30px;
    color: navy;
    border-radius: 5px;
    
}
.nav:hover {
border-color: navy;   
border-style: double;
padding-top: 5px;
transition: .2s;


}


.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 100px;
    margin-right:40px;
    padding-right: 20px;
    padding-top: 20px;
    cursor:pointer;

}
#check{
    display:none;
}




.title{
font-size:40px;
transform:translate(30px);


}


#benefits{
display:flex;
flex-flow: wrap row;
justify-content: space-around;


}
#benefits > div{
border:solid 3px ;
padding:10px;
text-align:center;

}

h2{
    color:navy;
    
    }

.benefits-img{
width:300px;
border: double navy 5px;

}


footer{
    background-color:navy;
    height:160px;
    color:peachpuff;
    text-align:center;

}

.footer{
text-align:center;
width:30px;
}

.nav-footer{
    color:peachpuff;
    padding:5px;
    font-size:20px;
    }
