.body {

    margin: 0;
    background-color: peachpuff;
}

body {
    background-color: peachpuff;
}
*{
    box-sizing: border-box;
}

.team-section {
    background-color: peachpuff;
    min-height: 100vh;
    padding: 70px 15px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1170px;
    margin: auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.team-section .section-title {
    
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 70px;
}

.team-section .section-title h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    color:white;
    font-weight: 700;
}

.team-section .section-title p {
    font-size: 16px;
    text-align: center;
    margin: 15px 0 0;
    color:white;
}

.team-section .team-items {
    
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.team-section .team-items .item {
   
    flex-basis: calc(25%-30px);
    max-width: calc(25%-30px);
}

.team-section .team-items .item img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.team-section .team-items .item .inner  {
    position: relative;
    z-index: 11;
    padding:0 15px;
}

.team-section .team-items .item .inner .info {
    background-color: grey;
    text-align: center;
    padding: 20px 15px;
    border-radius: 8px;
    transition: all .5s ease;
    margin-top: -40px;
}

.team-section .team-items .item .inner  .info h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.team-section .team-items .item .inner  .info p{
    font-size: 16px;
    font-weight: 400;
    color: #c5c5c5;
    color: 10px 0 0;
}

@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css");


.team-section .team-items .item .inner .info .social-links {
    padding: 15px;
}

.team-section .team-items .item .inner .info .social-links a {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: white;
    color:#009688;
    border-radius: 50%;
    margin: 0 2px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
}

*/


.team {
    margin: 75px 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color:#333;
    padding-bottom: 10px;
}

h1::after {
    content: '';
    background: black;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}

.profile {
    margin-top: 25px;
}

.profile .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.profile h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.profile h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}



.img-box {
    content: '';
    opacity: 0;

    background-color: rgba(0,0,0,0.6);
    
    position: absolute;
    right: 0;
    left:0;
    top:0;
    bottom: 0;
}

.img-box ul {
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}

.img-box ul li {
    width: 30px;
    height:30px;
    border:1px solid #fff;
    border-radius: 50%;
    margin:3px;
    padding:7px;
    display:inline-block;
}

.img-box a {
    color:#fff
}

.img-box:hover::after {
    opacity: 1;
}

.img-box:hover ul {
    opacity: 1;
}


.img-box:hover li {
    color: #007bff;
    border: 1px solid #007bff;
}

.img-box:after, .img-box ul, .img-box ul li {
    transition: all 0.5s ease-in-out 0s;
}


.img-responsive {
    width:  200px;
    height: 200px;
    object-fit: cover;
}



.img-box{
    width: 100%;
    margin-top: 100px;
    clip-path: circle();
}

.img {

    width:  100px;
    height: 100px;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    
}

/*----testimonial----*/

.testimonial {
    width:100%;
    padding: 70px 0;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px black;
    cursor: pointer;
    transition: transform .5s;
}

.testimonial-col p {
    font-size: 14px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fa {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.user-info small {
    color:#009688
}

.testimonial-col:hover {
    transform: translateY(7px);
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color:#009688;
    font-weight: bold;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1 {
    font-size: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
}


.testimonial-col .fa {
    color:#27c0ff;
}

.username {
    color:#019587;
}
@media(max-width: 700px){
    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*-----nav------*/

* {
    margin:0px;
    padding:0px;
}
nav {
    width:98%;
    height: 75px;
    background-color: bisque;
    position:relative;
    margin-top: 10px;
    left:15px;
    right:10px;
    z-index: index 1;
}
nav .logo {
   
    font-size: 30px;
    padding-left: 15px;
    padding-top: 10px;
    background-color: bisque;
}
nav .logo p {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    float: left;
    color: rgb(139, 37, 37);
    text-shadow:0px;
    padding-top: 0px;
    letter-spacing: 5px;
}
nav .logo ul {
    display: inline-block;
    position:relative;
    margin-top:10%;
}

 ul li{
    list-style-type: none;
    float: right;
    margin-top: 10px;

}
ul li a {
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 30px;
    color: black;
}
:hover {
    text-decoration: underline;
}

